.card-group-container{
    flex: 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
.cards_container {
    flex: 1;
    display: flex;
    flex-flow: row;
    max-width: 1000px;
  }
  .card-text{
    padding: 2px;
    color: azure;
  }
  .card-title{
    font-size: 36px;
  }
  .card-des{
    font-size: 20px;
  }
  .home-buttons {
    background-color: transparent;
    border: none;
  }
  .home-button-img{
    max-width: 250px;
  }

    